body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 10px;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 5px 5px 10px;
}
input {
  padding: 8px;
}
button {
  padding: 10px;
  margin: 6px;
  border-radius: 7px;
  background-color: yellowgreen;
  width: 90px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* view containet */
div.view-container {
  display: flex;
  box-sizing: 70%;
  max-width: 70%;
  height: auto;
  border-radius: 8px;
  text-overflow: clip;
  background-color: #e9eef0;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  box-shadow: 5px 5px 30px #cccccc;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.image-container {
  margin: 5px;
  max-width: 100%;
  height: 300px;
  padding: 10px;
  @media only screen and (max-width: 600px) {
    position: relative;
    left: 25%;
  }
}

div .text-container {
  max-width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  margin: 5px;
  @media only screen and (max-width: 600px) {
    position: relative;
    left: 25%;
    font-size: 10px;
  }
}

.info span {
  color: rgb(183, 166, 166);
  font-size: 8px;
  font-weight: bold;
}

/* view page style ends here */
.icons {
  display: flex;
  justify-content: left;
  gap: 10px;
  padding: 5px;
  float: right;
}

.hero {
  display: flex;
  justify-content: center;
}
